.Collection {
    height: 150px;
    width: 100px;
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 2px;
    display: grid;
    border: 1px solid grey;
    font-size: small;
    justify-self: center;
}